# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/settings.gradle
/android/gradlew.bat
/android/app/src
/android/app/build.gradle
/android/app/debug.keystore
/android/app/proguard-rules.pro
/android/.gitignore
/android/build.gradle
/android/gradle.properties
/android/gradlew


/android/.idea

local.properties
/android/*.iml
*.hprof
/android/.cxx


# But allow google-services.json
!/android/app/google-services.json

Tether_Partner_B_Onboarding_Flow.postman_collection.json
Tether_Streak_Milestone_Testing_FIXED.postman_collection.json
Tether_Category_Testing_v2.postman_collection.json
